/*   TODO:
      Fix "more" icon
      add icons to search bar
      impliment a better soution for responsive design
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "sans-serif";
}

/* search area */
.logo {
  grid-area: logo;
  margin: 27px 40px 0px 0px;
}

#logo {
  margin-left: 25px;
}

.search-area {
  grid-area: search-area;
  margin-top: 20px;
}

#search-bar {
  border: 1px solid rgb(231, 231, 231);
  width: 600px;
  padding: 11px 11px 11px 14px;
  border-radius: 35px;
  font-size: 17px;
  color: black;
}

#search-bar:hover {
  box-shadow: 1px -1px 4px rgb(228, 228, 228);
}

#search-bar:focus {
  outline-width: 0; /* gets rid of outline when clicked */
}

.icons {
  grid-area: icons;
  justify-self: end;
  margin: 27px 25px 0px 0px;
  position: relative;
}

.icons #user_pic {
  bottom: 8px;
}

#user_pic {
  border-radius: 25px;
}

#apps {
    margin-bottom: 3px;
}

/* navigation */

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas:
    "left-side right-side";
  border-bottom: 1px solid #d6d6d6;
}

.nav-ul-l {
  grid-area: nav-ul-l;
  border-bottom: 1px solid #d6d6d6;
}

.nav-ul-r {
  grid-area: nav-ul-r;
  border-bottom: 1px solid #d6d6d6;
}

nav a {
  display: inline;
  float: left;
}

nav img {
  display: inline-block;
  align-self: center;
  width: 20px;
  height: 20px;
  padding: 0 3px;
}

#all {
  color: blue;
  border-bottom: 5px solid blue;
  padding-bottom: 13px;
  padding-right: 8px;
}

#left-side {
  grid-area: left-side;
  position: relative;
  top: -8px;
}

#left-side img {
  position: relative;
  top: 5px;
}

#right-side{
  grid-area: right-side;
  justify-self: end;
}

nav a {
  padding: 20px 15px 10px 5px;
  font-weight: 500;
  font-size: 12px;
  color: rgb(66, 66, 66);
}

a:hover
{
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/* results section */

.results {
  grid-area: results;
  padding-top: 10px;
}

#results-text {
  color: #867a7a;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  line-height: 20px;
}

.search-results {

}

.search-results h2 {
  font-size: 18px;
}

.search-results h2 a:link {
  color: blue;
}

.search-results h2 a:clicked {
  color: purple;
}



/* multi resolution screen support (not very good!) */
@supports (display: grid) {
  @media screen and (max-width: 950px) {
    .container {
      display: grid;
      grid-template-columns: 145px 630px;
      grid-template-areas:
        "logo search-area"
        "nav-ul-l nav"
        ". results";
    }

    .icons{
      display: none;
    }

    .nav-ul-r {
      display: none;
    }
  }
}


@supports (display: grid) {
  @media screen and (min-width: 950px) {
    .container {
      display: grid;
      grid-template-columns: 145px 630px auto;
      grid-template-areas:
        "logo search-area icons"
        "nav-ul-l nav nav-ul-r"
        ". results .";
    }
  }
}
