* {
  margin: 0;
  padding: 0;
}

body {
  /* position: absolute; */
  background-color: white;
  /* top: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden; */
}

.container {
  display: grid;
  grid-template-columns: 11% 54% 35%;
  grid-template-areas:
    "logo search-area icons";
}

/* top row */
.logo {
  grid-area: logo;
  margin: 27px 40px 0px 0px;
}

#logo {
  margin-left: 25px;
}

.search-area {
  grid-area: search-area;
  margin-top: 20px;
}

#search-bar {
  border: 1px solid rgb(231, 231, 231);
  width: 600px;
  padding: 11px 11px 11px 14px;
  border-radius: 35px;
  font-size: 17px;
  color: black;
}

#search-bar:hover {
  box-shadow: 1px -1px 4px rgb(228, 228, 228);
}

#search-bar:focus {
  outline-width: 0; /* gets rid of outline when clicked */
}

.icons {
  grid-area: icons;
  justify-self: end;
  margin: 27px 35px 0px 0px;
  position: relative;
}

.icons #user_pic {
  bottom: 8px;
}

#user_pic {
  border-radius: 25px;
}

#apps {
    margin-right: 20px;
    margin-bottom: 3px;
}

/* navigation */

/* nav {
  position: relative;
  right: 725px;
  top: 10px;
}

nav a {
  display: inline;
  float: left;
  font-size: 15px;
}

#all {
  color: blue;
  border-bottom: 5px solid blue;
  padding-bottom: 5px;
}

a {
  padding: 20px 15px 10px 5px;
  font-weight: 500;
  font-size: 12px;
  font-family: "sans-serif";
  text-decoration: none;
  color: rgb(66, 66, 66);
}



a:hover
{
  text-decoration: underline;
}

.main {
  width: 400px;
  position: relative;
  margin: 0 auto;
  grid-area: main;
}


footer {
  margin-top: -45px;
  padding: 25px 0px;
  border-top: 1px solid rgb(230, 230, 230);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(236, 236, 236);
  grid-area: footer;
}

#bottom-footer {
  display: block;
  padding-left: 20px;
  float: left;
  position: relative;
  bottom: 10px;
}

#top-footer {
  display: block;
  float: left;
  position: relative;
  bottom: 10px;
} */
